.heading{

    &--h2{
        font-family: 'Abril Fatface', cursive;
        font-size: 3.5rem;
        text-align: center;
    }

    &--h3{
        font-family: 'Abril Fatface', cursive;
        font-size: 1.8rem;
    }
}